ul.slides {
    margin: 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: transform 1s;
    position: relative;
}

ul.slides a.arrow {
    position: absolute;
    color: #fff;
    text-shadow: 0 0 8px black;
}

ul.slides a.previous-button {
    top: 50%; left: 16px;
    transform: translateY(-50%);
}

ul.slides a.next-button {
    top: 50%; right: 16px;
    transform: translateY(-50%);
}

ul.slide-position {
    padding: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 8px 8px 8px;
}

ul.slide-position li {
    width: 8px; height: 8px;
    border-radius: 100%;
    background-color: #dcdcdc;
}

ul.slide-position li.active { background-color: #8815e2; }