/* body alignment */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* carousel */
body section {
    max-width: 604px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* carousel title */
body section header {
    padding: 16px 0;
    display: flex;
    align-items: center;
}